/***** Champs de type TEXTAREA *****/
textarea.rs-noresize { resize: none; }

textarea {
  border: 1px solid darkblue;
  border-radius: 5px;

  width: calc(100% - 6px);
  min-height: 120px;
  padding: 2px;
}

textarea:focus { box-shadow: 0px 0px 2px 1px white; }

textarea.readonly { background: silver; }
