/***** Champ de type FILE attendant une image *****/
img.rs-file-image { 
  border: 5px dotted #666;
  background-color: silver;
  
  width: 100%;
  min-height: 200px;
  margin: 5px;
}

input[type="file"].rs-file-image { 
  opacity: 0;
  height: 0;
  width: 0;
}
