/******* INPUT de type texte et labels associés *******/

/* Champ de saisie en lui-même (marge inférieure pour le dernier élément) */
input[type="text"].rs-input-field,
input[type="password"].rs-input-field { 
  border: 1px solid darkblue;
  border-radius: 5px;

  max-height: 25px;
  min-height: 25px;
}
input[type="text"].rs-input-field:focus { box-shadow: 0px 0px 2px 1px white; }
input[type="text"].rs-input-field.readonly { background: silver; }
.rs-input-cont:last-child { margin-bottom: 10px; }

/* Label associé (on gère les animations transitionnelles sur les propriétés de transformation) */
div.rs-label {
  font-weight: bold;
  color: #034993;
  font-size: 15px;
  text-shadow: 0px 0px 2px white;
  
  margin-left: 5px;
  margin-top: 5px;

  transition-property: transform -webkit-transform -ms-transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -ms-transition-property: transform -webkit-transform -ms-transform;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in-out;
  -webkit-transition-property: transform -webkit-transform -ms-transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
}

/* Classe décalant le label à l'intérieur du champ */
div.rs-label-inside {
  transform: translate(0px, 25px);
  -ms-transform: translate(0px, 25px);
  -webkit-transform: translate(0px, 25px);
}

/* Classes nécessaires au composant <rs-select> */
div.rs-select-float {
  position: absolute;
  min-height: 20px;
  max-height: 80px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}

div.rs-select-item {
  height: 20px;
  padding-left: 5px;
  padding-right: 10px;
  white-space: nowrap;
  cursor: pointer;
}
div.rs-select-item:hover { 
  background: steelblue;
  color: white; 
}
