/*********************************
 * Feuille de style des tooltips *
 *********************************/
.rs-tooltip-wrapper { width: 10px; }

/* La fenêtre affichant le message */
.rs-tooltip-window {
  position: fixed;
  min-height: 25px;
  min-width: 25px;
  background-color: #003;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Flèche et orientation -> inversé car on se réfère à la position de la fenêtre, donc on montre la direction opposée */
.rs-arrow { 
  position: fixed;
  width: 18px;
  height: 18px;
  background-color: #040;
  border: 1px solid #030;
  z-index: 0;
}
.rs-arrow.s { transform: rotate(45deg); }
.rs-arrow.sw { transform: rotate(70deg); }
.rs-arrow.w {  transform: rotate(45deg); }
.rs-arrow.nw { transform: rotate(20deg); }
.rs-arrow.n { transform: rotate(45deg); }
.rs-arrow.ne { transform: rotate(70deg); }
.rs-arrow.e { transform: rotate(45deg); }
.rs-arrow.se { transform: rotate(20deg); }
